<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Confirmar Eliminación</h1>
        <p>¿Estás seguro de que deseas eliminar al jugador {{ player.first_name }} {{ player.last_name }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'view_all_players' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</body>
</html>